footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    gap:0.5em;
    align-items: center;
    width: 100%;
}
footer ol{
    list-style-type: none;
}
footer ol li{
    display: inline;
    padding: 2em;
}

@media screen and (min-width: 1060px) {
footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    gap: 10em;
    align-items: center;
}

}