*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
.svg-img{
  width: 20vw;
  height:20vh;
  margin: 1em;
}
.img-arr{
  width: 30vw;
  height: 20vh;
  border-radius: 2em;
  margin: 1em;
}
.Yacht{
  height: 20vh;
  width: 40vw;
}
.jumbotron{
  padding: 1em auto;
  text-align: center;
  height: 60vh;
  background-color: rgba(0,0,0,0.1);
}
.jumbotron h3{
  font-size: 1.4em;
  font-weight: 500;
  font-family: serif;
  padding: 0.8em;
}
.jumbotron p{
  margin: 1em;
}
@media screen and (min-width: 600px) {
  .img-arr{
    height: 30vh;
    width: 25vw;
  }
  .svg-img{
  width: 20vw;
  height: 30vh;
}
}
@media screen and (min-width: 1024px) {


.img-arr{
  height: 40vh;
}
.jumbotron{
  margin: 1em;
  padding: 2em auto;
  text-align: center;
  height: 80vh;
  background-color: rgba(0,0,0,0.1);
}
.jumbotron h3{
  font-size: 2em;
  padding: 1em;
}
.jumbotron p{
  margin: 1em;
}
}
